@import url("https://rsms.me/inter/inter-ui.css");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

div {
  box-sizing: border-box; }

/* ----------------------------------------------------------------------------------------------------

Super Form Reset

A couple of things to watch out for:

- IE8: If a text input doesn't have padding on all sides or none the text won't be centered.
- The default border sizes on text inputs in all UAs seem to be slightly different. You're better off using custom borders.
- You NEED to set the font-size and family on all form elements
- Search inputs need to have their appearance reset and the box-sizing set to content-box to match other UAs
- You can style the upload button in webkit using ::-webkit-file-upload-button
- ::-webkit-file-upload-button selectors can't be used in the same selector as normal ones. FF and IE freak out.
- IE: You don't need to fake inline-block with labels and form controls in IE. They function as inline-block.
- By turning off ::-webkit-search-decoration, it removes the extra whitespace on the left on search inputs

----------------------------------------------------------------------------------------------------*/
input,
label,
select,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  /* Browsers have different default form fonts */
  font-size: 13px;
  font-family: Arial; }

/* Remove the stupid outer glow in Webkit */
input:focus {
  outline: 0; }

/* Box Sizing Reset
-----------------------------------------------*/
/* All of our custom controls should be what we expect them to be */
input,
textarea {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

/* These elements are usually rendered a certain way by the browser */
button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Text Inputs
-----------------------------------------------*/
/* Button Controls
-----------------------------------------------*/
input[type=checkbox],
input[type=radio] {
  width: 13px;
  height: 13px; }

/* File Uploads
-----------------------------------------------*/
/* Search Input
-----------------------------------------------*/
/* Make webkit render the search input like a normal text field */
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box; }

/* Turn off the recent search for webkit. It adds about 15px padding on the left */
::-webkit-search-decoration {
  display: none; }

/* Buttons
-----------------------------------------------*/
button,
input[type="reset"],
input[type="button"],
input[type="submit"] {
  /* Fix IE7 display bug */
  overflow: visible;
  width: auto; }

/* IE8 and FF freak out if this rule is within another selector */
::-webkit-file-upload-button {
  padding: 0;
  border: 0;
  background: none; }

/* Textarea
-----------------------------------------------*/
textarea {
  /* Move the label to the top */
  vertical-align: top;
  /* Turn off scroll bars in IE unless needed */
  overflow: auto; }

/* Selects
-----------------------------------------------*/
select[multiple] {
  /* Move the label to the top */
  vertical-align: top; }

.header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 56px;
  left: 50%;
  top: 0;
  margin: 24px 0 0 -600px; }

.header-left {
  display: flex;
  align-items: center; }

.header-right {
  display: flex;
  align-items: center; }

.logo {
  display: block;
  width: 146px;
  height: 56px;
  background-image: url(../img/status-logo.svg);
  background-size: 146px;
  background-position: center;
  background-repeat: no-repeat; }

.main-nav {
  display: flex;
  align-items: center;
  margin-left: 32px; }

.main-nav li {
  margin: 16px 12px 12px 12px; }

.main-nav li:first-child {
  margin-left: 0; }

.main-nav li:last-child {
  margin-right: 0; }

.main-nav a:hover {
  opacity: .8; }

.main-nav a {
  color: black;
  text-decoration: none; }

.intro {
  display: flex;
  width: 680px;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 140px auto 0; }

.intro h1 {
  padding: 0 0 8px 0; }

.intro p {
  width: 540px;
  font-size: 16px;
  line-height: 26px;
  color: #939ba1; }

.intro-buttons {
  display: flex;
  padding: 16px 0 0 0; }

.button.button-part {
  border-radius: 0; }

.button.button-part:first-child {
  border-radius: 20px 0 0 20px; }

.button.button-part:last-child {
  border-radius: 0 20px 20px 0; }

.button-icon {
  display: block;
  width: 24px;
  height: 24px;
  background-size: 24px;
  background-repeat: no-repeat;
  margin: 0 8px 0 0; }

.button-icon.button-icon--ios {
  background-image: url(../img/icon-apple.svg); }

.button-icon.button-icon--android {
  background-image: url(../img/icon-android.svg); }

.info {
  margin: 0 auto 140px;
  border-radius: 16px;
  background-color: white;
  width: 1200px;
  display: flex; }

.info-item {
  width: 33.3%;
  padding: 32px;
  border-right: 1px solid #e8ebec; }

.info-item:last-child {
  border-right: none; }

.info-item-content {
  height: 240px;
  overflow: hidden; }

.info-item h5 {
  margin: 0 0 24px 0; }

.info-item h4 {
  margin: 0 0 8px 0; }

.latest-news li {
  padding: 0 0 16px 0; }

.hero-image {
  position: relative;
  width: 920px;
  height: 270px;
  margin: 32px auto 0; }

.image-line {
  width: 60px;
  height: 4px;
  border-radius: 20px;
  background-color: #e9ebec;
  margin: 0 0 4px 0; }

/* Wallet */
.image-wallet {
  position: absolute;
  left: 396px;
  top: 81px;
  width: 126px;
  height: 90px; }

.image-wallet-front {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 126px;
  height: 90px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(43, 59, 71, 0.124066);
  transform: translate3d(0, 20px, 0) scale(1);
  transition: transform .6s ease, opacity 0.2s ease;
  transition-delay: .1s;
  opacity: 0; }

.active .image-wallet-front {
  transform: translate3d(0, 0, 0) scale(1);
  transition: transform .4s ease, opacity 0.2s ease;
  transition-delay: .1s;
  opacity: 1; }

.image-wallet-back {
  position: absolute;
  top: -33px;
  left: 0px;
  width: 105px;
  height: 64px;
  background-size: 105px;
  background-image: url(../img/wallet-back.svg);
  transform: translate3d(0, 20px, 0) scale(0.4, 0.4);
  transition: transform .6s ease, opacity 0.2s ease;
  transition-delay: .4s;
  opacity: 0; }

.active .image-wallet-back {
  transform: translate3d(0, 0, 0) scale(1, 1);
  opacity: 1; }

.image-wallet-logo {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 40px;
  height: 40px;
  background-size: 40px;
  background-image: url(../img/status-logo-symbol.svg); }

.image-wallet-lines {
  position: absolute;
  top: 64px;
  left: 12px; }

.image-wallet-lines .image-line:nth-child(2) {
  width: 42px; }

/* Token Stacks */
.image-token-stack {
  position: absolute;
  transform: translate3d(0, 0, 0) scale(1);
  transition: transform 1s cubic-bezier(0.25, 0.46, 0, 1.105), opacity 0.2s ease;
  opacity: 0; }

.image-token-stack.image-token-stack--horizontal {
  transform: translate3d(-40px, 0, 0) scale(1); }

.image-token-stack.image-token-stack--vertical {
  transform: translate3d(0, 40px, 0) scale(1); }

.active .image-token-stack.image-token-stack--horizontal {
  transform: translate3d(0, 0, 0) scale(1);
  opacity: 1; }

.active .image-token-stack.image-token-stack--vertical {
  transform: translate3d(0, 0, 0) scale(1);
  opacity: 1; }

.image-token-stack.image-token-stack--one {
  bottom: 48px;
  left: 0;
  transition-delay: .1s; }

.image-token-stack.image-token-stack--two {
  top: 0px;
  left: 120px;
  transition-delay: .2s; }

.image-token-stack.image-token-stack--three {
  top: 150px;
  left: 180px;
  transition-delay: .3s; }

.image-token-stack.image-token-stack--four {
  top: 170px;
  right: 226px;
  transition-delay: .4s; }

.image-token-stack.image-token-stack--five {
  top: 30px;
  right: 110px;
  transition-delay: .5s; }

.image-token {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  background-color: white;
  box-shadow: -2px 0px 4px rgba(62, 81, 95, 0.100572);
  z-index: 100;
  transform: translate3d(0, 0, 0) scale(1);
  transition: transform 1s cubic-bezier(0.25, 0.46, 0, 1.105), opacity 0.2s ease; }

.image-token-stack--vertical .image-token {
  box-shadow: 0px 2px 4px rgba(62, 81, 95, 0.100572); }

.image-token.image-token--main {
  background-color: #4360df;
  color: white;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
  z-index: 200; }

.image-token-stack.image-token-stack--vertical .image-token:nth-child(2) {
  top: 10px;
  z-index: 90;
  transform: translate3d(0, -10px, 0) scale(1);
  transition-delay: .2s; }

.image-token-stack.image-token-stack--vertical .image-token:nth-child(3) {
  top: 20px;
  z-index: 80;
  transform: translate3d(0, -20px, 0) scale(1);
  transition-delay: .3s; }

.image-token-stack.image-token-stack--horizontal .image-token:nth-child(2) {
  left: -10px;
  z-index: 90;
  transform: translate3d(10px, 0, 0) scale(1);
  transition-delay: .2s; }

.image-token-stack.image-token-stack--horizontal .image-token:nth-child(3) {
  left: -20px;
  z-index: 80;
  transform: translate3d(20px, 0, 0) scale(1);
  transition-delay: .3s; }

.image-token-stack.image-token-stack--horizontal .image-token:nth-child(4) {
  left: -30px;
  z-index: 70;
  transform: translate3d(30px, 0, 0) scale(1);
  transition-delay: .4s; }

.image-token-stack.image-token-stack--horizontal .image-token:nth-child(5) {
  left: -40px;
  z-index: 60;
  transform: translate3d(40px, 0, 0) scale(1);
  transition-delay: .5s; }

.active .image-token-stack--vertical .image-token {
  transform: translate3d(0, 0, 0) scale(1) !important; }

.active .image-token-stack--horizontal .image-token {
  transform: translate3d(0, 0, 0) scale(1) !important; }

/* Messages */
.image-message {
  position: absolute;
  width: 126px;
  height: 69px;
  background-size: 126px;
  background-image: url(../img/message.svg);
  transform: translate3d(0, -20px, 0) scale(0.9);
  transition: transform 0.6s cubic-bezier(0.25, 0.46, 0, 1.105), opacity 0.2s ease;
  opacity: 0; }

.active .image-message {
  transform: translate3d(0, 0, 0) scale(1);
  transition: transform 1s cubic-bezier(0.25, 0.46, 0, 1.105), opacity 0.2s ease;
  opacity: 1; }

.image-message.image-message--one {
  left: 225px;
  top: 62px;
  transition-delay: .6s; }

.image-message.image-message--two {
  right: 236px;
  top: 42px;
  transition-delay: .9s; }

.image-message-lines {
  position: absolute;
  left: 14px;
  top: 14px; }

.image-message-lines .image-line {
  width: 40px; }

.image-message-lines .image-line:nth-child(2) {
  width: 56px; }

.image-message-avatar {
  width: 30px;
  height: 30px;
  background-color: #e9ebec;
  border-radius: 50%;
  position: absolute;
  right: 14px;
  top: 14px; }

/* Status */
.image-status {
  position: absolute;
  width: 116px;
  height: 52px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(43, 59, 71, 0.124066);
  transform: translate3d(0, 20px, 0) scale(0.9);
  transition: transform 0.6s cubic-bezier(0.25, 0.46, 0, 1.105), opacity 0.2s ease;
  opacity: 0; }

.active .image-status {
  transform: translate3d(0, 0, 0) scale(1);
  transition: transform 1s cubic-bezier(0.25, 0.46, 0, 1.105), opacity 0.2s ease;
  opacity: 1; }

.image-status.image-status--one {
  top: 86px;
  left: -16px;
  transition-delay: .8s; }

.image-status.image-status--two {
  bottom: -6px;
  left: 310px;
  transition-delay: 1s; }

.image-status.image-status--three {
  top: 160px;
  right: 0px;
  transition-delay: 1.2s; }

.image-status-lines {
  position: absolute;
  left: 48px;
  top: 21px; }

.image-status-lines .image-line {
  width: 50px; }

.image-status-lines .image-line:nth-child(2) {
  width: 40px; }

.image-status-avatar {
  width: 26px;
  height: 26px;
  background-color: #e9ebec;
  border-radius: 50%;
  position: absolute;
  left: 14px;
  top: 14px; }

/*.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #262A39;
  position: relative;
  z-index: 998;
}

.footer-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 1024px;
}

.footer-logo-wrap {
  width: 317px;
  display: flex;
  text-align: center;
}

.footer-logo-wrap__inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0 75px 0;
}

a.footer-logo {
  display: block;
  width: 52px;
  height: 52px;
  background-size: 52px;
  background-image: url(../img/footer-logo.svg);
}

a.footer-logo:hover {
  opacity: .8;
}

.footer-address {
  color: #FFFFFF;
  padding: 20px 0 0 0;
  opacity: .5;
}

.footer-table {
  width: 317px;
  display: flex;
  justify-content: space-between;
}

.footer-table__column {
  box-sizing: border-box;
  padding:56px 0;
}

.footer-header {
  color: #FFFFFF;
  opacity: .5;
  font-size: 17px;
  margin: 0 0 40px 0;
}

.footer-link {
  height: 32px;
  line-height: 32px;
  font-size: 16px;
  margin: 0 0 15px 0;
}

.footer-link a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.footer-icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-color: rgba(255, 255, 255, .1);
  border-radius: 50%;
  margin: 0 15px 0 0;
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: center;
}

.footer-link--fb .footer-icon {
  background-image: url(../img/icon_fb.svg);
}

.footer-link--tw .footer-icon {
  background-image: url(../img/icon_tw2.svg);
}

.footer-link--sl .footer-icon {
  background-image: url(../img/icon_sl2.svg);
}

.footer-link--gh .footer-icon {
  background-image: url(../img/icon_gh2.svg);
}

.footer-link--rd .footer-icon {
  background-image: url(../img/icon_rd2.svg);
}

.footer-link--yt .footer-icon {
  background-image: url(../img/icon_yt.svg);
}

.footer-link a {
  color: #FFFFFF;
}

.footer-link a:hover {
  opacity: .8
}

.language-switcher {
  font-family: $PostGroteskBook;
  color: #FFFFFF;
  -webkit-appearance: none;
  font-size: 16px;
  line-height: 32px;
  padding: 0 24px 0 0;
  background-image: url(../img/icon_dropdown-white.svg);
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: right center;
}

.language-switcher:focus{
    outline: none;
}

@media (max-width: 1140px) {

  .footer-inner {
    width: 820px;
    justify-content: space-around;
  }

  .footer-logo-wrap {
    width: 200px;
  }

}

@media (max-width: 767px) {

  .footer {
    border-top: 0px;
  }

  .footer.footer--page {
    border-top: 0px solid #4A5C69
  }

  .footer-inner {
    padding: 30px 0 0 0;
    flex-direction: column;
  }

  .footer-table {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer-table__column {
    text-align: center;
    padding: 10px 16px;
  }

  .footer-logo-wrap {
    width: auto;
    order: 2
  }

  .footer-header {
    margin: 0 0 10px 0;
  }

  .footer-logo-wrap__inner {
    width: 100%;
    padding: 32px 0 40px 0;
    align-items: center;
    text-align: center;
  }

  .footer-link {
    text-align: center;
    height: 24px;
    line-height: 24px;
    margin: 0 0 10px 0;
  }

  .footer-link a {
    justify-content: center;
    text-align: center;
  }

  .footer-icon {
    display: none;
  }

  .footer-logo {
    //display: none;
  }


}
*/
body {
  font-family: "Inter UI", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1em;
  color: black;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background-color: #eef2f5; }

.overlay {
  display: none; }

.home-wrap {
  display: none; }

.footer {
  display: none; }

a {
  text-decoration: none;
  color: #4360df; }

a.link-arrow {
  position: relative; }

a.link-arrow::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  display: block;
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: top right;
  padding: 0 8px 0 8px;
  top: -2px;
  right: -24px;
  background-image: url(../img/link-arrow.svg);
  transition: transform .2s ease;
  opacity: .4; }

a.link-arrow:hover::after {
  transform: translate3d(4px, 0, 0); }

.button, a.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 24px;
  font-weight: 500;
  padding: 9px 24px 8px;
  text-decoration: none;
  background-color: white;
  color: #4360df;
  box-shadow: 0px 2px 4px rgba(43, 59, 71, 0.124066);
  border-radius: 20px; }

.main-text {
  color: black;
  font-size: 16px;
  line-height: 26px; }

.secondary-text {
  color: #939ba1;
  font-size: 16px;
  line-height: 26px; }

h1 {
  font-weight: 700;
  font-size: 38px;
  line-height: 1em; }

h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.6em; }

h5 {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #939ba1;
  font-weight: 500;
  font-size: 14px; }

.timestamp {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #939ba1;
  font-weight: 400;
  font-size: 12px; }

.button:hover, a.button:hover {
  background-color: #f9fafe; }
